#!/usr/bin/env bash
# This hook is sourced after this virtualenv is activated.
# NOTE THIS HAS BEEN MODIFIED BY SCARLETT
# EXPECTING PATH: /home/pi/.virtualenvs/scarlett-dbus-poc/bin

source /usr/install/build_environment_variables.sh

echo "I have set the following env variables for this Scarlett virtualenv"
echo "*******************************************************************"
echo $GSTREAMER
echo $PI_HOME
echo $MAIN_DIR
echo $VIRT_ROOT
echo $PKG_CONFIG_PATH
echo $SCARLETT_CONFIG
echo $SCARLETT_HMM
echo $SCARLETT_LM
echo $SCARLETT_DICT
echo $LD_LIBRARY_PATH
echo $GST_PLUGIN_PATH
echo "*******************************************************************"
