#!/usr/bin/env bash
# This hook is sourced after this virtualenv is activated.
# NOTE THIS HAS BEEN MODIFIED BY SCARLETT
# EXPECTING PATH: /home/pi/.virtualenvs/scarlett-dbus-poc/bin

export PYTHON_VERSION={{ base_vars.PYTHON_VERSION}}
export GSTREAMER={{ base_vars.GSTREAMER }}
export PI_HOME={{ base_vars.USER_HOME }}
export MAIN_DIR={{ virtualenv_vars.MAIN_DIR }}
export VIRT_ROOT={{ virtualenv_vars.VIRT_ROOT }}
export PKG_CONFIG_PATH={{ build_vars.PKG_CONFIG_PATH }}
export SCARLETT_CONFIG={{ scarlett_vars.SCARLETT_CONFIG }}
export SCARLETT_HMM={{ scarlett_vars.SCARLETT_HMM }}
export SCARLETT_LM={{ scarlett_vars.SCARLETT_LM }}
export SCARLETT_DICT={{ scarlett_vars.SCARLETT_DICT }}

# for GST PLUGINS
export LD_LIBRARY_PATH={{ build_vars.LD_LIBRARY_PATH }}
export GST_PLUGIN_PATH={{ build_vars.GST_PLUGIN_PATH }}

export PYTHON=/usr/bin/python3
export PYTHON_VERSION='3.5'

echo "I have set the following env variables for this Scarlett virtualenv"
echo "*******************************************************************"
echo $PYTHON
echo $PYTHON_VERSION
echo $GSTREAMER
echo $PI_HOME
echo $MAIN_DIR
echo $VIRT_ROOT
echo $PKG_CONFIG_PATH
echo $SCARLETT_CONFIG
echo $SCARLETT_HMM
echo $SCARLETT_LM
echo $SCARLETT_DICT
echo $LD_LIBRARY_PATH
echo $GST_PLUGIN_PATH
echo "*******************************************************************"
