#!/usr/bin/env bash
# This hook is sourced after this virtualenv is deactivated.
# NOTE THIS HAS BEEN MODIFIED BY SCARLETT
# EXPECTING PATH: /home/pi/.virtualenvs/scarlett-dbus-poc/bin/postdeactivate

unset GSTREAMER
unset PI_HOME
unset MAIN_DIR
unset VIRT_ROOT
unset PKG_CONFIG_PATH
unset SCARLETT_CONFIG
unset SCARLETT_HMM
unset SCARLETT_LM
unset SCARLETT_DICT
unset PYTHON
unset PYTHON_VERSION

# for GST PLUGINS
unset LD_LIBRARY_PATH
unset GST_PLUGIN_PATH

echo "I have unset the following env variables for this Scarlett virtualenv"
echo "*******************************************************************"
echo "unset GSTREAMER"
echo "unset PI_HOME"
echo "unset MAIN_DIR"
echo "unset VIRT_ROOT"
echo "unset PKG_CONFIG_PATH"
echo "unset SCARLETT_CONFIG"
echo "unset SCARLETT_HMM"
echo "unset SCARLETT_LM"
echo "unset SCARLETT_DICT"
echo "unset LD_LIBRARY_PATH"
echo "unset GST_PLUGIN_PATH"
echo "unset PYTHON"
echo "unset PYTHON_VERSION"
echo "*******************************************************************"
echo "PROOF THEY HAVE ALL BEEN UNSET"
echo "*******************************************************************"
echo $GSTREAMER
echo $PI_HOME
echo $MAIN_DIR
echo $VIRT_ROOT
echo $PKG_CONFIG_PATH
echo $SCARLETT_CONFIG
echo $SCARLETT_HMM
echo $SCARLETT_LM
echo $SCARLETT_DICT
echo $LD_LIBRARY_PATH
echo $GST_PLUGIN_PATH
echo $PYTHON
echo $PYTHON_VERSION
echo "*******************************************************************"
